:root {
  --purple-600: hsl(246, 80%, 60%);

  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 58%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);

  --Navy-950: hsl(226, 43%, 10%);
  --Navy-900: hsl(235, 46%, 20%);
  --Purple-500: hsl(235, 45%, 61%);
  --Navy-200: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Navy-950);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
  padding: 2rem 0;
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.card {
  width: 100%;
  background: var(--Navy-900);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 2rem;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 0.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: background 0.3s;
}

.card:not(.profile):hover {
  background: hsl(236, 44%, 31%);
  cursor: pointer;
}

.card:not(.profile)::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: inherit;
  z-index: -1;

  /* for bg image */
  background-repeat: no-repeat;
  background-position: 260px -10px;
  background-size: 80px;
}

/* profile card start */
.card.profile {
  padding: 0;
  flex-direction: column;
  position: relative;
}

.profile-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background: var(--purple-600);
  border-radius: 1rem;
  padding: 2rem;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.737);
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-text__greeting {
  color: #ffffff98;
  font-size: 0.875rem;
}

.profile-text__name {
  color: #ffffffde;
  font-size: 1.6rem;
  font-weight: 300;
}

/* ---- */
.profile-timeframe {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-timeframe__button {
  background: transparent;
  border: none;
  color: hsla(0, 0%, 100%, 0.416);
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  transition: color 0.3s ease;
}

.profile-timeframe__button.active,
.profile-timeframe__button:hover {
  color: hsl(0, 0%, 100%);
}

/* all the ::before elements to to show background images and colors */
.profile::before {
  background-color: var(--orange-300);
  background-image: url("./images/icon-work.svg");
}
.work::before {
  background-color: var(--orange-300);
  background-image: url("./images/icon-work.svg");
}

.play::before {
  background-color: var(--blue-300);
  background-image: url("./images/icon-play.svg");
}

.study::before {
  background-color: var(--pink-400);
  background-image: url("./images/icon-study.svg");
}

.exercise::before {
  background-color: var(--green-400);
  background-image: url("./images/icon-exercise.svg");
  background-position: 260px 5px !important ;
}

.social::before {
  background-color: var(--purple-700);
  background-image: url("./images/icon-social.svg");
}

.self-care::before {
  background-color: var(--yellow-300);
  background-image: url("./images/icon-self-care.svg");
}

.card-left__title {
  font-size: 1rem;
  font-weight: 600;
}

.card-left__hours {
  font-size: 2rem;
  font-weight: 300;
}

.option {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  background: rgba(0, 0, 0, 0.27);
}

.option:active {
  background: rgba(32, 32, 32, 0.1);
}

.card-option__icon {
  width: 18px;
}

.card-right__previous-hours {
  color: #ffffff97;
  font-size: 0.875rem;
}

.card-top,
.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1000px;
    gap: 4rem 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .profile {
    grid-area: 1 / 1 / 3/ 2;
    padding: 0;
  }

  .profile-info {
    align-items: start;
    flex-direction: column;
    margin-top: -45px;
  }

  .profile-text {
    padding-bottom: 2rem;
  }

  .profile-text__name {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .profile-timeframe {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .profile-timeframe__button {
    font-size: 1rem;
  }

  .card {
    gap: 1rem;
  }

  .card-bottom {
    flex-direction: column;
    align-items: start;
  }

  .card-left__hours {
    font-size: 2.6rem;
    font-weight: 300;
  }

  .card:not(.profile)::before {
    top: -45px;
    /* for bg image */
    background-repeat: no-repeat;
    background-position: 150px -10px;
    background-size: 70px;
  }

  .exercise::before {
    background-position: 150px 5px !important ;
  }
}
